@model TwitterClone.ASP.Models.User
@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script src="~/js/GetPostForUserAsync.js"></script>
    <script src="~/js/AddPost.js"></script>
}

@if (User.Identity.IsAuthenticated)
{
    @if (Model != null)
    {
        <p>@Model.Alias</p>

        <div class="enter-post-text">
            <form method="post" class="form-horizontal" asp-controller="Home" asp-action="AddPost" id="addPost">
                <input type="hidden" name="UserId" value="@ViewBag.IdUser" id="IdUser" />
                <div class="form-group">
                    <label for="TextPost" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <textarea name="TextPost" class="form-text" id="textPost"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-default" value="Твитнуть" id="btn-addPost"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="posts">
            <span>Posts for user:</span>
            <span>
                @if (ViewBag.nameuser == null)
                {
                    @User.Identity.Name
                }
                else
                {
                    @ViewBag.nameUser
                }
            </span>
            <div id="posts-body"></div>
        </div>
    }
}
else
{
    <a asp-controller="Account" asp-action="Login">Enter</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}