<div class="search-by-tag">
    <span class="name-form">Search post by tag</span>
    <input type="text" name="tag" class="form-text" id="Tag" oninput="searchTag()" autocomplete="off"/>    
</div>

<div class="hide" id="tag-for-posts">

</div>
