a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    display: flex;
    flex-wrap: nowrap;
}
.footer {
  position: relative;
  display: block;
  bottom: 0;
  width: 33%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.btn-google:hover {
    background: #b22222;
    color: #fff;
}
div.user-posts {
    border: 1px solid black;
    padding: 4px 10px 4px 10px;
}
header#header {
    position: relative;
    left: auto;
    float: left;
    display: block;
    width: 20%;
}
main.pb-3 {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 50%;
}
a.nav-link {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0;
    letter-spacing: 1px;
    font-weight: 300;
    color: #444;
    transition: .3s linear;
}
a.current {
    color: #6fb0b7;
}
#tag-for-posts {
    display: block;
    z-index: 3;
    background-color: #212529;
    border-radius: 8px;
    color: white;
    line-height: normal;
    padding: 10px;
    margin: auto;
}
#tag-for-posts .user-posts {   
    border: none;
    padding: 4px 10px 4px 10px;
}
.hide {
    visibility: hidden;
    display: flex;
}
